header.header 
    .container-fluid
        .row.align-items-center 
            .col-3 
                .inner-logo 
                    a(hrefs=`/`) 
                        img(src="/images/logo.jpg" width="200px" height= "200px")
            .col-9 
                .inner-menu 
                    ul 
                        li
                            a(href="/") 
                                <i class="fa-solid fa-house"></i> Home Page 
                        li 
                            a(href="/") 
                                <i class="fa-solid fa-music"> </i>Title
                        li 
                            a(href="/favorite-songs") 
                                <i class="fa-solid fa-heart"></i> Favorite Song
                        
