header.header 
    .container-fluid
        .row.align-items-center 
            .col-3 
                .inner-logo 
                    a(hrefs=`/`) 
                        img(src="/images/logo.jpg" width="200px" height= "200px")
            .col-9 
                .inner-menu 
                    ul 
                        li
                            a(href="/") Home Page 
                        li 
                            a(href="/") Title
